services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cyberangle-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: cyberangle-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

